<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tales">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="حكايا"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".movieM"></activity>
        <activity android:name=".youtube" />
        <activity android:name=".youtubet" />
        <activity android:name=".folkdetils" />
        <activity android:name=".folk" />
        <activity android:name=".movie" />
        <activity android:name=".mythdetails" />
        <activity android:name=".myth" />
        <activity android:name=".bookpage2" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".flyingbook" />
        <activity android:name=".contact" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>